/*==<layout>==*/

/*==> header <== */
.header {
    text-align: center;
    background-color: var(--color-fondo-secundario);
    padding: var(--espacio-lg) var(--espacio-md);
}

/*--> título principal */
.header h1 {
    font-size: 2.5rem;
    color: var(--color-titulo);
    margin-bottom: var(--espacio-xs);
}

/*--> subtítulo */
.header p {
    font-size: 1.25rem;
    color: var(--color-subtitulo);
}

/*==> main layout <== */
.app-layout {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr;
    /* izquierda más pequeña */
    gap: var(--espacio-lg) var(--espacio-md);
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--espacio-lg) var(--espacio-md);
}

/*--> panel de controles (izquierdo) */
.panel-control {
    display: flex;
    flex-direction: column;
    gap: var(--espacio-md);
    text-align: center;
}

/*--> panel de paleta (derecha) */
.panel-paleta {
    padding: var(--espacio-md);
    text-align: center;
}

/*--> grid de paleta */
.cuadricula-paleta {
    display: flex;
    flex-wrap: wrap;
    grid-template-rows: auto;
    gap: var(--espacio-md);
    justify-items: center;
}

/*--> color individual (la que crea JS) */
.color-paleta {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: var(--espacio-md);
    border-radius: var(--borde-radio-md);
    box-shadow: var(--sombra-suave);
    background-color: var(--color-fondo-secundario);
}