/*==<layout>==*/

/*==> header <== */
.header {
    text-align: center;
    background-color: var(--color-fondo-secundario);
    padding: var(--espacio-lg) var(--espacio-md);
}

/*--> título principal */
.header h1 {
    font-size: 2.5rem;
    color: var(--color-titulo);
    margin-bottom: var(--espacio-xs);
}

/*--> subtítulo */
.header p {
    font-size: 1.25rem;
    color: var(--color-subtitulo);
}

/*==> main layout <== */
.app-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* izquierda más pequeña */
    gap: var(--espacio-lg) var(--espacio-md);
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--espacio-lg) var(--espacio-md);
}

/*--> panel de controles (izquierdo) */
.panel-controles {
    display: flex;
    flex-direction: column;
    gap: var(--espacio-md);
}

/*--> panel de paleta (derecha) */
.panel-paleta {
    padding: var(--espacio-md);
}

/*--> grid de paleta */
.cuadricula-paleta {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columnas */
    gap: var(--espacio-md);
    justify-items: center;
}

/*--> color individual (la que crea JS) */
.tarjeta-color {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--espacio-md);
    border-radius: var(--borde-radio-md);
    box-shadow: var(--sombra-suave);
    background-color: var(--color-fondo-secundario);
}